<div id="progression-studios-footer-page-builder">
    <div data-elementor-type="page" data-elementor-id="14" class="elementor elementor-14 elementor-bc-flex-widget" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">

                <section class="elementor-element elementor-element-12d6474b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="12d6474b" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;gradient&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-f534b26 elementor-column elementor-col-100 elementor-top-column" data-id="f534b26" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-1bcac893 elementor-widget elementor-widget-progression-episode-post-list" data-id="1bcac893" data-element_type="widget" data-widget_type="progression-episode-post-list.default">
                                            <div class="elementor-widget-container">
                                                <div class="clearfix-pro"></div>
                                                <ul class="progression-studios-social-counter-container">
                                                    <li>
                                                        <a href="https://www.facebook.com/progressionstudios" target="_blank" >
                                                            <i class="fa fa fa-facebook slide-button-align-icon-right" aria-hidden="true"></i>
                                                            <h3 class="progression-elements-social-counter-title">Facebook -</h3>
                                                            <div class="progression-elements-social-count-number">10.5k<span class="progression-elements-social-description">Fans</span></div>
                                                            <span class="progression-elements-social-divider">/</span>
                                                            <div class="clearfix-pro"></div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/progression_s" target="_blank" >
                                                            <i class="fa fa fa-twitter slide-button-align-icon-right" aria-hidden="true"></i>
                                                            <h3 class="progression-elements-social-counter-title">Twitter -</h3>
                                                            <div class="progression-elements-social-count-number">6.8k<span class="progression-elements-social-description">Followers</span></div>
                                                            <span class="progression-elements-social-divider">/</span>
                                                            <div class="clearfix-pro"></div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.youtube.com/channel/UC4bC_uGGyczKIoB_4BNVXfQ/videos" target="_blank" >
                                                            <i class="fa fa fa-youtube-play slide-button-align-icon-right" aria-hidden="true"></i>
                                                            <h3 class="progression-elements-social-counter-title">Youtube -</h3>
                                                            <div class="progression-elements-social-count-number">8.8k<span class="progression-elements-social-description">Subs</span></div>
                                                            <span class="progression-elements-social-divider">/</span>
                                                            <div class="clearfix-pro"></div>
                                                        </a>
                                                    </li>
                                                </ul><!-- close .progression-studios-social-counter-container -->
                                                <div class="clearfix-pro"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="elementor-element elementor-element-53bcfeba elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="53bcfeba" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-4cfc2e0b elementor-column elementor-col-33 elementor-top-column" data-id="4cfc2e0b" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-42e2e23e elementor-widget elementor-widget-image" data-id="42e2e23e" data-element_type="widget" id="logo-footer" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <a href="/" data-elementor-open-lightbox=""><!-- TODO: Davidgh, here should me our site Logo -->
                                                        <img width="320" height="66" src="https://qpi55pgc3otk1j4m-zippykid.netdna-ssl.com/wp-content/uploads/2018/01/logo.png" class="attachment-full size-full" alt="" srcset="https://qpi55pgc3otk1j4m-zippykid.netdna-ssl.com/wp-content/uploads/2018/01/logo.png 320w , https://qpi55pgc3otk1j4m-zippykid.netdna-ssl.com/wp-content/uploads/2018/01/logo-300x62.png 300w " sizes="(max-width: 320px) 100vw, 320px" />								</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5a4466a8 elementor-widget elementor-widget-text-editor" data-id="5a4466a8" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>It's very important your opinion and feedback. Please get in touch with social media</p></div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-49444002 elementor-shape-circle elementor-widget elementor-widget-social-icons" data-id="49444002" data-element_type="widget" data-widget_type="social-icons.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-social-icons-wrapper">
                                                    <a href="https://www.facebook.com/<!-- TODO: Should be added social media links-->" class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-f4bba3b" target="_blank">
                                                        <span class="elementor-screen-only">Facebook</span>
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    <a href="https://twitter.com/<!-- TODO: Should be added social media links-->" class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-a8eb6ff" target="_blank">
                                                        <span class="elementor-screen-only">Twitter</span>
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="http://instagram.com<!-- TODO: Should be added social media links-->" class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-a829117" target="_blank">
                                                        <span class="elementor-screen-only">Instagram</span>
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                    <a href="https://www.youtube.com/<!-- TODO: Should be added social media links-->" class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-19a4297" target="_blank">
                                                        <span class="elementor-screen-only">Youtube</span>
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                    <a href="<!-- TODO: Should be added social media links-->" class="elementor-icon elementor-social-icon elementor-social-icon-envelope elementor-repeater-item-c0d2efe">
                                                        <span class="elementor-screen-only">Envelope</span>
                                                        <i class="fa fa-envelope"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-70ab1406 elementor-column elementor-col-33 elementor-top-column" data-id="70ab1406" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-79482f16 elementor-widget elementor-widget-heading" data-id="79482f16" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Categories/Pages</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-531aba8 elementor-widget elementor-widget-progression-category-list" data-id="531aba8" data-element_type="widget" data-widget_type="progression-category-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="progression-studios-category-list">


                                                    <li><a href="/">Movies<span>{{ amount }}</span></a></li> <!-- TODO: Styly should be updated -->
                                                    <li><a href="/tv_series">TV Series<span>4<!-- TODO : Davidgh should be mentioned how many TV Series we have--></span></a></li>
                                                    <li><a href="/top_watched">TOP Watched<span>1 <!-- TODO : Davidgh should be mentioned how many TOP Watched movies we have--></span></a></li>
                                                    <li><a href="/top_imdb">Top IMDB</a></li>
                                                </ul><!-- close .progression-studios-category-list -->
                                                <div class="clearfix-pro"></div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-6a4c3ae0 elementor-widget elementor-widget-boosted-elements-advanced-text" data-id="6a4c3ae0" data-element_type="widget" data-widget_type="boosted-elements-advanced-text.default">
                                            <div class="elementor-widget-container">
                                                <div class="boosted-elements-progression-advanced-text-container">
                                                    <div ></div>
                                                    <div class="clearfix-boosted-element"></div>
                                                </div><!-- close .boosted-elements-progression-advanced-text-container -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>