<section class="elementor-element elementor-element-41a712be elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="41a712be" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">

            <div class="elementor-element elementor-element-6bb99551 elementor-column elementor-col-50 elementor-top-column" data-id="6bb99551" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-fed53de elementor-widget elementor-widget-heading" data-id="fed53de" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">What’s Popular</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-34f91b70 elementor-widget elementor-widget-divider" data-id="34f91b70" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-79ad004 elementor-widget elementor-widget-progression-review-post-list" data-id="79ad004" data-element_type="widget" data-widget_type="progression-review-post-list.default">
                            <div class="elementor-widget-container">
                                <div class="progression-studios-elementor-review-container">
                                    <div class="progression-masonry-margins">
                                        <div id="progression-review-index-masonry-79ad004">

                                            {% for item in populars %} <!-- TODO: Davidgh: Should be updated from database -->
                                            <div class="progression-masonry-item gaming">
                                                <div class="progression-masonry-padding-blog">
                                                    <div class="progression-studios-isotope-animation">
                                                        <div class="post-127 post type-post status-publish format-standard has-post-thumbnail hentry category-gaming">
                                                            <div class="progression-studios-default-blog-index progression-studios-default-blog-left ">
                                                                <div class="progression-blog-content">
                                                                    <div class="progression-studios-image-float-left">
                                                                        <div class="progression-studios-feaured-image">
                                                                            <a href="https://ratency.progressionstudios.com/2018/01/best-mobile-phone-game/">
                                                                                <!-- TODO: Should be added w=700,h=460 image links here -->
                                                                                <img width="700" height="460" src="{{item.img_url}}" class="attachment-progression-studios-blog-left-align size-progression-studios-blog-left-align wp-post-image" alt="{{item.name}}" />
                                                                                <div class="progression-studios-hexagon-index-container">
                                                                                    <div class="progression-studios-index-hexagon-border">
                                                                                        <div class="progression-blog-review-index-total">{{item.rating}}</div>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div><!-- close .progression-studios-feaured-image -->
                                                                        <!-- close video -->
                                                                    </div><!-- close .progression-studios-image-float-left -->
                                                                    <div class="progression-studios-content-float-right">
                                                                        <div class="progression-studios-float-blog-content-padding">
                                                                            <div class="blog-meta-category-list">
                                                                                <a href="https://ratency.progressionstudios.com/category/gaming/" rel="category tag">Trailer</a>
                                                                                <a href="https://ratency.progressionstudios.com/category/gaming/" rel="category tag">Movie</a>
                                                                            </div>
                                                                            <h2 class="progression-blog-title"><a href="/movie/{{item.id}}">{{item.name}}</a></h2>
                                                                            <ul class="progression-post-meta"></ul>
                                                                            <div class="clearfix-pro"></div>
                                                                            <div class="progression-studios-blog-excerpt">
                                                                                <p>{{item.description|truncatechars:90}}</p>
                                                                                <div class="clearfix-pro"></div>
                                                                                <div class="clearfix-pro"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- close .progression-studios-content-float-right -->
                                                                    <div class="clearfix-pro"></div>
                                                                </div><!-- close .progression-blog-content -->
                                                                <div class="clearfix-pro"></div>
                                                            </div><!-- close .progression-studios-default-blog-index -->
                                                        </div><!-- #post-## -->
                                                    </div><!-- close .progression-studios-isotope-animation -->
                                                </div><!-- close .progression-masonry-padding-blog -->
                                            </div><!-- close .progression-masonry-item -->
                                            {% endfor %}


                                        </div><!-- close #progression-review-index-masonry-79ad004  -->
                                    </div><!-- close .progression-masonry-margins -->
                                    <div class="clearfix-pro"></div>
                                </div><!-- close .progression-studios-elementor-review-container -->
                                <div class="clearfix-pro"></div>
                                <script type="text/javascript">
                                    jQuery(document).ready(function($) {
                                        'use strict';
                                        /* Default Isotope Load Code */
                                        var $container79ad004 = $("#progression-review-index-masonry-79ad004").isotope();
                                        $container79ad004.imagesLoaded( function() {
                                            $(".progression-masonry-item").addClass("opacity-progression");
                                            $container79ad004.isotope({
                                                itemSelector: "#progression-review-index-masonry-79ad004 .progression-masonry-item",
                                                percentPosition: true,
                                                layoutMode: "fitRows"
                                            });
                                        });
                                        /* END Default Isotope Code */
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="elementor-element elementor-element-18d57e54 elementor-column elementor-col-50 elementor-top-column" data-id="18d57e54" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-224e4040 elementor-widget elementor-widget-heading" data-id="224e4040" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Editor's Choice</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-16af9abc elementor-widget elementor-widget-divider" data-id="16af9abc" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-8496b41 elementor-widget elementor-widget-progression-review-post-list" data-id="8496b41" data-element_type="widget" data-widget_type="progression-review-post-list.default">
                            <div class="elementor-widget-container">
                                <div class="progression-studios-elementor-review-container">
                                    <div class="progression-masonry-margins">
                                        <div id="progression-review-index-masonry-8496b41">

                                            {% for item in editors_movies %}<!-- TODO: Davidgh: Should be updated from database -->

                                            <div class="progression-masonry-item  editors-choice slider  gaming">
                                                <div class="progression-masonry-padding-blog">
                                                    <div class="progression-studios-isotope-animation">
                                                        <div class="post-90 post type-post status-publish format-standard has-post-thumbnail hentry category-gaming slider-tags-editors-choice slider-tags-slider">
                                                            <div class="progression-studios-default-blog-index progression-studios-default-blog-left ">
                                                                <div class="progression-blog-content">
                                                                    <div class="progression-studios-image-float-left">
                                                                        <div class="progression-studios-feaured-image">
                                                                            <a href="https://ratency.progressionstudios.com/2018/01/new-console-arrives-on-the-market/">
                                                                                <img width="700" height="460" src="https://qpi55pgc3otk1j4m-zippykid.netdna-ssl.com/wp-content/uploads/2018/01/nikita-kachanovsky-405700-700x460.jpg" class="attachment-progression-studios-blog-left-align size-progression-studios-blog-left-align wp-post-image" alt="" />
                                                                                <div class="progression-studios-hexagon-index-container">
                                                                                <div class="progression-studios-index-hexagon-border">
                                                                                    <div class="progression-blog-review-index-total">{{item.rating}}</div>
                                                                                </div>
                                                                            </div>
                                                                            </a>
                                                                        </div><!-- close .progression-studios-feaured-image -->
                                                                        <!-- close video -->
                                                                    </div><!-- close .progression-studios-image-float-left -->
                                                                    <div class="progression-studios-content-float-right">
                                                                        <div class="progression-studios-float-blog-content-padding">
                                                                            <div class="blog-meta-category-list">
                                                                                <a href="https://ratency.progressionstudios.com/category/gaming/" rel="category tag">Trailer</a>
                                                                                <a href="https://ratency.progressionstudios.com/category/gaming/" rel="category tag">Movie</a>
                                                                            </div>


                                                                            <h2 class="progression-blog-title"><a href="/movie/{{item.id}}">{{item.name}}</a></h2>
                                                                            <ul class="progression-post-meta"></ul>
                                                                            <div class="clearfix-pro"></div>
                                                                            <div class="progression-studios-blog-excerpt">
                                                                                <p>{{item.description|truncatechars:90}}</p>
                                                                                <div class="clearfix-pro"></div>
                                                                                <div class="clearfix-pro"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- close .progression-studios-content-float-right -->
                                                                    <div class="clearfix-pro"></div>
                                                                </div><!-- close .progression-blog-content -->
                                                                <div class="clearfix-pro"></div>
                                                            </div><!-- close .progression-studios-default-blog-index -->
                                                        </div><!-- #post-## -->
                                                    </div><!-- close .progression-studios-isotope-animation -->
                                                </div><!-- close .progression-masonry-padding-blog -->
                                            </div><!-- close .progression-masonry-item -->

                                            {% endfor %}

                                        </div><!-- close #progression-review-index-masonry-8496b41  -->
                                    </div><!-- close .progression-masonry-margins -->
                                    <div class="clearfix-pro"></div>
                                </div><!-- close .progression-studios-elementor-review-container -->
                                <div class="clearfix-pro"></div>
                                <script type="text/javascript">
                                jQuery(document).ready(function($) {
                                    'use strict';
                                    /* Default Isotope Load Code */
                                    var $container8496b41 = $("#progression-review-index-masonry-8496b41").isotope();
                                    $container8496b41.imagesLoaded( function() {
                                        $(".progression-masonry-item").addClass("opacity-progression");
                                        $container8496b41.isotope({
                                            itemSelector: "#progression-review-index-masonry-8496b41 .progression-masonry-item",
                                            percentPosition: true,
                                            layoutMode: "fitRows"
                                        });
                                    });
                                    /* END Default Isotope Code */
                                });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>