{% extends "_templates/main.html" %}

{% block title %}| Contact to Movies team{% endblock %}


{% block contact_body %}

<div id="page-title-pro">
    <div class="width-container-pro">
        <div id="progression-studios-page-title-container">
            <h1 class="page-title">Contact</h1>
            <h4 class="progression-sub-title">Got a <u>question</u> or <u>concern</u>? Let's get in touch. Just fill out the form below and we will get back to you within 24 hours.</h4>
        </div><!-- close #progression-studios-page-title-container -->
        <div class="clearfix-pro"></div>
    </div><!-- close .width-container-pro -->
</div><!-- #page-title-pro -->

{% endblock%}

{% block body %}
<section class="elementor-element elementor-element-4c5b63da elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="4c5b63da" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-240d9b46 elementor-column elementor-col-50 elementor-top-column" data-id="240d9b46" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-47e8101e elementor-widget elementor-widget-heading" data-id="47e8101e" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Let's get in touch</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7834734f elementor-widget elementor-widget-divider" data-id="7834734f" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3aca28c elementor-widget elementor-widget-boosted-elements-contact-form" data-id="3aca28c" data-element_type="widget" data-widget_type="boosted-elements-contact-form.default">
                            <div class="elementor-widget-container">
                                <div class="boosted-elements-progression-contact-form-container">
                                    <div role="form" class="wpcf7" id="wpcf7-f3-p8-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="/contact/#wpcf7-f3-p8-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="3" />
                                                <input type="hidden" name="_wpcf7_version" value="5.1.3" />
                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3-p8-o1" />
                                                <input type="hidden" name="_wpcf7_container_post" value="8" />
                                            </div>
                                            <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span></p>
                                            <p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail" /></span></p>
                                            <p><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject" /></span></p>
                                            <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea></span></p>
                                            <p><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" /></p>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div><!-- close .boosted-elements-progression-contact-form-container -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-5a42d53c elementor-column elementor-col-50 elementor-top-column" data-id="5a42d53c" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-3a4b939c elementor-widget elementor-widget-heading" data-id="3a4b939c" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Need Help?</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4931a2cc elementor-widget elementor-widget-divider" data-id="4931a2cc" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3736410f elementor-widget elementor-widget-text-editor" data-id="3736410f" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix"><p>If you do not find your favorite movie, TV series or shows contact us and we will be back with desired movie</p></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-49f4cd05 elementor-widget elementor-widget-heading" data-id="49f4cd05" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">24/7 Customer Support​</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-681a1e06 elementor-widget elementor-widget-divider" data-id="681a1e06" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-13ed650a elementor-widget elementor-widget-text-editor" data-id="13ed650a" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix"><p>Your feedbacks and requests are always important for us. We are always online and will reply as soon as possible</p></div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-674519af elementor-widget elementor-widget-heading" data-id="674519af" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Available 24 hours a day</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}